/* DefaultPage.css */
／＊整体页面样式＊／ .default-page {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    /* background-image: url('/backgroud/hackthon resource.jpg'); */
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0.5;
    position: relative;
    flex: 2;
    width: 100%;
}

/* 背景虚化效果*/
.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(20px);

}

／＊居中内容＊／ .centered-content {
    text-align: center;
}

.seals-text {
    font-size: 48px;
    font-family: 'Calibri', sans-serif;
    color: rgb(0, 0, 0);

}